/* joblist styles */
@import url("https://cdn.jsdelivr.net/npm/@joblist/components/dist-lib/style.css");

joblist-layout {
}

libli-app {
	:is(libli-menu-button, libli-controls) {
		display: none;
	}
	:is(matrix-space-parents) {
		:is(matrix-room-state) {
			flex-direction: row;
			align-items: center;
		}
		:is(matrix-avatar, matrix-room-topic) {
			display: none;
		}
		display: flex;
		justify-content: flex-end;
	}
	&:is([hash="#boards.joblist.today:matrix.org"]) {
	}
	outline: none;
}
